name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        export GO111MODULE=on  
        go env -w GOPROXY=https://goproxy.io,direct
        go get 

    - name: Build
      run: go build 
    
    - name: Use
      run: |
        go test -v ./engine/
